{{template "header"}}
<div class="text-black px-6">
    <h1 class="py-4 text-zinc-800 text-4xl antialiased tracking-wide"> FQA Page </h1>
    <hr>
    <ul class="list-disc list-inside">
        {{range .}}
            {{template "qa" .}}
        {{end}}
    </ul>
</div>
{{template "footer"}}


{{define "qa"}}
<li class="border-t border-indigo-600 py-1 px-2">
    <b>{{.Question}}</b>
    <ul>
    <li> {{.Answer}} </li>
    </ul>
</li>
{{end}}

