<h1> FQA Page</h1>
<hr>
<ul>
    {{range .}}
        {{template "qa" .}}
    {{end}}
</ul>

{{define "qa"}}
<li>
    <b>{{.Question}}</b>
    <ul>
       <li> {{.Answer}} </li>
    </ul>
</li>
{{end}}