{{template "header"}}
<section class="hero bg-gray-500">
    <div class="container py-36">
        <div class="flex flex-row">

        </div>
    </div>
    <div class="container py-32">
        <div class="flex flex-row">

        </div>
    </div>
    </section>
</section>

{{template "footer"}}

 